In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('boston.csv')

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  target   506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [5]:
## Featured and Target

In [6]:
featured_x = data.drop('target',axis=1)

target_y = data['target']

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [26]:
###
np.random.seed(2)

x_train,x_test,y_train,y_test = train_test_split(featured_x,target_y,test_size=0.2)

model = RandomForestRegressor()

model.fit(x_train,y_train)

RandomForestRegressor()

In [27]:
model.score(x_test,y_test) #accuracy

0.9038944829540848

In [13]:
##################
#
# R-Squared
#
#################

* R-squared compared the model prediction with the mean of target 
* if R-squared > 0.5 the model is average for predicting the value
* if R-squared > 0.8 the model is almost perfect for predicting the value
* if R-squared <0.5 the model is not that good for predicting the value
* if R-squared <0 the model is very bad for prediction

In [14]:
# Calculate R-square

In [15]:
from sklearn.metrics import r2_score

In [28]:
y_test_mean = np.full(len(y_test),y_test.mean())

In [29]:
y_test_mean

array([22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804, 22.89509804, 22.89509804, 22.89509804,
       22.89509804, 22.89509804])

In [30]:
np.mean(y_test_mean)

22.895098039215682

In [31]:
#compare

In [32]:
r2_score(y_test,y_test_mean)  #model only predicting the mean gets r^2 square of 0

0.0

In [34]:
r2_score(y_test,y_test) # model predicting perfectly as r^2 square value is 1

1.0

In [35]:
# Mean Absolute error

In [36]:
from sklearn.metrics import mean_absolute_error
y_preds = model.predict(x_test)

mean_abs_err = mean_absolute_error(y_test,y_preds)

In [37]:
mean_abs_err

2.0778039215686266

In [38]:
df = pd.DataFrame(data={'Actual value':y_test, 'Predicted Value':y_preds})

In [40]:
df['Difference'] = df['Predicted Value'] - df['Actual value']

In [41]:
df

     Actual value  Predicted Value  Difference
463          20.2           21.370       1.170
152          15.3           20.983       5.683
291          37.3           33.335      -3.965
183          32.5           30.914      -1.586
384           8.8            8.187      -0.613
..            ...              ...         ...
200          32.9           34.303       1.403
12           21.7           20.849      -0.851
129          14.3           16.092       1.792
194          29.1           28.888      -0.212
320          23.8           23.988       0.188

[102 rows x 3 columns]

In [45]:
np.mean(np.abs(df['Difference'])) #which is means absolute error

2.077803921568626

In [47]:
##############################
#
# Mean Squred Errors (MSE)
#
################################

In [48]:
from sklearn.metrics import mean_squared_error

In [49]:
mse = mean_squared_error(y_test,y_preds)

In [50]:
mse

8.040156980392153

In [55]:
np.square(df['Difference']).mean()

8.04015698039215