In [1]:
import numpy as np
import pandas as pd

In [2]:
#loading boston data

In [3]:
data = pd.read_csv('boston.csv')

In [4]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  target   506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [6]:
#feature and target

In [7]:
featured_x = data.drop('target',axis=1)
target_y = data['target']

In [8]:
## sklearn

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
np.random.seed(3)

x_train,x_test,y_train,y_test = train_test_split(featured_x,target_y)

model = RandomForestRegressor()

model.fit(x_train,y_train)

RandomForestRegressor()

In [13]:
## Score method

In [14]:
model.score(x_test,y_test)

0.8839786321828954

In [15]:
### Cross Validation

In [16]:
from sklearn.model_selection import cross_val_score

In [21]:
cross_val_score(model,featured_x,target_y)

array([0.75807832, 0.84968091, 0.72568024, 0.46730376, 0.27263218])

In [22]:
#comparing with #score vs cross-validation

In [24]:
model.score(x_test,y_test) , np.mean(cross_val_score(model,featured_x,target_y))

(0.8839786321828954, 0.6305351107986923)