In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('heart_disease.csv')

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
## Feature and target

In [6]:
featured_x  = data.drop('target',axis=1)
target_y = data['target']

In [7]:
######################## Sk Learn

In [8]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [9]:
np.random.seed(12)

x_train,x_test,y_train,y_test = train_test_split(featured_x,target_y,test_size = 0.2)

clf = RandomForestClassifier()

clf.fit(x_train,y_train)

RandomForestClassifier()

In [10]:
#Making Prediction

In [11]:
y_preds = clf.predict(x_test)

In [12]:
y_preds

array([1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0], dtype=int64)

In [13]:
#evaluate

In [15]:
# sklearn.metrics import accuracy_score, precision_score,recall_score,f1_score
print(f'Accuracy of the model: {accuracy_score(y_test,y_preds)*100:.2f}%')
print(f'Precision of the model: {precision_score(y_test,y_preds)*100:.2f}%')
print(f'Recall of the model: {recall_score(y_test,y_preds)*100:.2f}%')
print(f'F1 of the model: {f1_score(y_test,y_preds)*100:.2f}%')

Accuracy of the model: 83.61%
Precision of the model: 81.25%
Recall of the model: 86.67%
F1 of the model: 83.87%

## <h4> Regression </h4>

In [17]:
boston = pd.read_csv('../boston.csv')

In [18]:
#featured and target

In [19]:
featured_x2 = boston.drop('target',axis=1)
target_y2 = boston['target']

In [20]:
########## Sklearn

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [22]:
np.random.seed(32)

x2_train,x2_test,y2_train,y2_test = train_test_split(featured_x2,target_y2,test_size=0.2)

model = RandomForestRegressor()

model.fit(x2_train,y2_train)

RandomForestRegressor()

In [23]:
# from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
y2_preds = model.predict(x2_test)

In [24]:
y2_preds

array([14.725, 27.388, 14.799, 20.085, 20.371, 25.312, 19.448, 23.508,
       19.912, 15.892, 43.549, 19.899, 20.097, 20.688, 22.872, 19.865,
       24.208, 19.709, 21.221, 17.745, 20.444, 17.544, 46.948, 15.118,
       47.125, 10.835, 23.983,  9.873, 23.349, 15.572, 27.029, 21.891,
       43.527, 20.719, 26.14 , 20.863, 30.624, 19.016, 24.468, 22.029,
       28.812, 22.896, 20.763,  9.75 , 44.632, 21.137, 21.245, 21.874,
       19.107, 22.837, 19.792, 27.78 , 19.893, 11.825, 18.588, 21.576,
       21.218, 16.081, 46.685,  9.888, 42.795, 16.645, 23.897, 10.136,
       18.944, 19.853, 20.784, 15.809, 20.161, 32.121, 26.779, 40.896,
       31.871, 24.887, 10.3  , 19.569, 14.642, 23.175, 22.811, 38.877,
       20.68 , 21.319, 19.843, 19.227, 23.59 , 34.744, 14.308, 26.195,
       18.94 , 12.112, 10.098, 22.168, 14.08 , 31.934, 21.432, 23.797,
       23.722, 23.585, 20.953, 18.713, 15.637, 21.928])

In [31]:
print(f'R^2 Squared:{r2_score(y2_test,y2_preds):.2f} ')
print(f'Mean absolute Error-MAE- : {mean_absolute_error(y2_test,y2_preds):.2f} ')
print(f'Mean Squared Error-MSE- : {mean_squared_error(y2_test,y2_preds):.2f} ')

R^2 Squared:0.86
Mean absolute Error-MAE- : 2.23
Mean Squared Error-MSE- : 12.66